@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

html, h1, h2, h3, h4, h5, p, span{
    font-family: 'Montserrat', sans-serif;
    color:#4a4a4a;
    scroll-behavior: smooth;
}
.mt-6{
    margin-top:80px;
}
.mt-8{
    margin-top:100px;
}
.typo-decor{
    position: absolute;
    right:200px;
    top:30px;
    color:#f1f1f1;
    font-weight: 700;
    opacity: 10%;
    word-break: break-all;
    width:20px;
    font-size:82px;
    line-height:100px;
}

.main-hero-text{
    font-weight: 700;
    font-size: 70px;
    margin-top:270px;
}
.no-margin{
    margin-top:0px;
}
.sub-text{
    margin-top:50px;
}
.main-subhero-text{
    font-weight: 500;
}
.main-button{
    background-color:#4285F4;
    color:white;
    border-radius:30px;
    font-weight: 700;
    font-size:22px;
    padding:7px;
    padding-left:25px;
    padding-right:25px;
    border-width: 0;
    width:max-content;
    margin:20px 0px 20px 0px;
    box-shadow: 0 10px 6px -6px #777;
}
.custom-navbar{
    position:sticky;
    padding-top:20px;
    padding-bottom:20px;
    background-color:white;
    box-shadow: 0 10px 6px -6px #777;
    top:0px;
    z-index:100;
}
.navbar-inner{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    width:120px;
}
.section{
    min-height:100vh;
    max-height: max-content;
    overflow: auto;
}
.menu-section{
    display:flex;
    flex-direction: row;
}
.menu-item{
    margin-left:20px;
    margin-right:20px;
    color:#4a4a4a;
    text-decoration:none;
    font-size:larger;
    font-weight: 600;
}
.menu-item:hover{
    text-decoration: underline;
    color:#363636;
    text-decoration-thickness: 3px;
    text-decoration-skip: none;
}
.section-row{
    display:flex;
    flex-direction: row;
}

.chat-box{
    border-width: 3px;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: max-content;
    padding:10px;
    font-size: 18px;
    font-weight: 700;
    color:#4a4a4a;
    font-family: 'Montserrat';
    width:max-content;
    display: block;
    margin-left:auto;
    margin-top:20px;
}
.chat-box-left{
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    margin-left:0px;
    margin-right:auto;
}
.chat-section{
    margin-top:200px;
    width:37%;
    margin-left:20%
}
.thoughts-input{
    border-width: 0px;
    color:#4a4a4a;
    font-weight: 700;
}
.header{
    font-size: 60px;
    font-weight: 700;
    color:#4a4a4a;
    font-family: 'Montserrat';
    line-height: 60px;
}
.sub-header{
    font-size:50px;
    color:#4a4a4a
}
.color-blue{
    color:#4285F4;
}
.edu-background{
    margin-top:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.porto-year{
    font-size:35px;
    font-weight: 700;
    color:#4a4a4a;
    height:inherit;
    margin-left:80px;
}
.porto-desc{
    text-align: center;
}
.porto-image{
    margin-left:auto;
    margin-right:10%;
    width:50%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 30px;
    padding:30px;

}
.porto-image-src{
    width:400px;
}
.porto-item{
    margin-top:100px;
    margin-bottom:100px;
    align-items: center;
}
.porto-image-src-small{
    width:180px
}
.porto-item-image{
    text-align: center;
    margin:25px;
}
.experience-image{
    width:200px;
    height:max-content
}
.experience-list div ul li{
    list-style: circle ;
    color:#4a4a4a;
    font-weight: 600;
    font-size: 17px;;
    line-height: 200%;
}
.experience-list div ul li::marker{
    color: #4285F4; /* or whatever color you prefer */
}
.experience-list{
    margin-top:75px;
}
.experience-list div ul{
    line-height: 150%;
}
.experience-image-wrap{
    margin-left:auto;
    width:40%;
    margin-right: 130px;
    justify-content: center;
}
.skill-image-wrap{
    width:50%;
    margin-left:50px;
    margin-right:190px;
    justify-content: center;
}
.skill-image{
    width:100px;
    margin:30px;
    height: max-content;
}
.section-fit{
    min-height: 0;
    height:max-content;
}
.progress-wrapper{
    border-style:solid;
    border-width: 5px;
    border-color: black;
    width: 400px;
    height:50px;
    overflow: hidden;
}
.siak-progress{
    background-color:black;
    animation-name: fill-siak;
    animation-duration: 5s;
    height:40px;
    animation-fill-mode: forwards;
}
.personal-website-progress{
    background-color:black;
    animation-name: fill-web;
    animation-duration: 5s;
    height:40px;
    animation-fill-mode: forwards;
}
.tixevent-progress{
    background-color:black;
    animation-name: fill-tixevent;
    animation-duration: 5s;
    height:40px;
    animation-fill-mode: forwards;
}
@keyframes fill-tixevent{
    from{
        width:0px;
    }
    to{
        width:100px;
    }
}
@keyframes fill-web{
    from{
        width:0px;
    }
    to{
        width:150px;
    }
}
@keyframes fill-siak{
    from{
        width:0px;
    }
    to{
        width:300px;
    }
}
.project-progress{
    margin-left:auto;
    margin-right:25px;
    border-radius:25px;
    border-style:solid;
    border-color:black;
    border-width: 2px;
    padding:25px;
}
.contact-section{
    display:flex;
    flex-direction: row;
}
.contact-section img{
    margin-left:25px;
    margin-right: 25px;;
}
.menu-list{
    display:flex;
    flex-direction: column;
}
.mobile-menu-section{
    display:none;
    text-align:right;
}
#navbarTrigger{
    border-width:0px;
    background-color:white;
    padding:10px;
    font-size:20px;
}
.minigame-score{
    font-size:24px;
    font-weight: 600;
}
.minigame-lives{
    font-size:24px;
    font-weight: 600;
}
.minigame-status{
    font-size:30px;
    font-weight: 700;
}
@media only screen and (max-width:600px){
    .menu-section{
        display:none
    }
    .mobile-menu-section{
        display: inline-block;
    }
    .menu-list{
        overflow:hidden;
        height:0px;
        display:flex;
        flex-direction: column;
        transition: height 1s ease;
    }
    .menu-list.show{
        height:max-content;

    }
    .typo-decor{
        right:70px;
        color:#f1f1f1;
        z-index: -10;;
    }
    .section-row{
        flex-direction: column;
    }
    .main-hero-text{
        font-size:50px;
    }
    .sub-text{
        font-size:1.25rem;
    }
    .chat-section{
        margin-left:0px;
    }
    .chat-box{
        width:80vw;
    }
    .header{
        font-size: 45px;
    }
    .chat-section{
        width:100%;
    }
    .desktop{
        display:none
    }
    .porto-image{
        width:100%
    }
    .porto-year{
        margin-left:0px;
    }
    .porto-image-src{
        width:100%
    }
    .porto-image-src-small{
        width:100%;
    }
    .porto-image-small-row{
        flex-direction: column!important;
    }
    .experience-list{
        flex-direction: column!important;
    }
    .experience-image-wrap{
        margin-left:0px;
        width:100%;
        margin-right:0px;
    }
    .experience-image{
        width:auto;
    }
    .skills-list{
        flex-direction: column-reverse!important;;
    }
    .skill-image-wrap{
        width:100%;
        margin-left:0px;
        margin-right: 0px;
    }
    .skill-image{
        width:80px;
        margin:15px;
        height:100%
    }
    .progress-wrapper{
        width: 80vw;
    }

    @keyframes fill-siak {
        100%{
            width:60vw
        }
    }
    @keyframes fill-web{
        100%{
            width:50vw;
        }
    }
    @keyframes fill-tixevent {
        100%{
            width:20vw
        }
    }
    .contact-section img{
        width:50px;
        margin-left:12px;
        margin-right:12px;
        margin-top:20px;
    }
}

@media (min-width:601px){
    .mobile{
        display:none;
    }
}

